* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

li {
  list-style: none;
  font-size: 20px;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

.container {
  width: 100%;
  padding: 0 1rem;
}

.container .progress {
  overflow: hidden;
  height: 20px;
  background: #ccc;
  border-radius: 5px;
  width: 100%;
  margin: 10px 0;
}

.container .progress div {
  height: 100%;
  color: #fff;
  background: #333;
  position: relative;
}

/* NEW */
.navbar {
  background: #cccccc;
}

.navbar .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.navbar a {
  padding: 10px 20px;
  font-size: 20px;
  color: #333;
}

.header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #fff;
}

.profile {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.profile .name {
  padding-left: 10px;
}

.header .photo {
  width: 50%;
}

.header .profile p {
  padding-top: 20px;
  font-size: 22px;
}

.header .location {
  width: 50%;
}

.header .location ul li {
  padding: 0 30px;
  color: #fff;
  position: relative;
  display: inline-block;
}

img {
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 50%;
}

.main .container {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
  background: #f4f4f4;
}

main .container .info {
  width: 100%;
}

main aside {
  width: 100%;
  display: inline-block;
  padding: 0 20px;
}

.work {
  width: auto;
  border: 2px solid springgreen;
  border-radius: 10px;
  margin: 5px 5px;
  padding: 5px 10px;
}

.work .data {
  font-size: 20px;
  font-weight: bold;
}

.work .posicion {
  font-size: 25px;
}
.info h2 {
  padding: 20px 0;
}

.schools {
  background: #f4f4f4;
}

.schools .container {
  display: flex;
  width: 100%;
}

.school {
  width: 50%;
  line-height: 1.5;
  background: #f4f4f4;
}

.portfolio {
  width: 50%;
}

.portfolio .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.portfolio .portfolio-img {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-left: 10px;
  margin-bottom: 10px;
  color: yellow;
}

.portfolio-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.84;
  margin: 0;
  border-radius: 19px;
  transition: 2s;
}

.portfolio-img a {
  color: #fff;
  font-size: 20px;
}

.portfolio-img a:hover {
  transition: 1s;
  color: yellow;
}

footer .container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #ccc;
}

.container .links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container i {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  transition: 1.2s;
  cursor: pointer;
  background: #f3f3f3;
  border-radius: 50%;
  margin: 10px 10px;
}

.container i::before {
  color: #333;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
